#skills
    display: flex
    justify-content: center
    align-items: center
    position: relative

    .decouvrez-moi
        background: url('../img/11-cercle-4.png') no-repeat
        background-size: contain
        width: 350px
        height: 350px
        display: flex
        cursor: pointer
        // justify-content: center
        // align-items: center

        .transparent-text
            background-color: $transparent-white
            width: 100%
            // margin: 20px
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            font-size: 2.1em
            font-weight: bold
            color: black

    .line
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 50%
        border-bottom: 3px $transparent-white solid
        z-index: -1
