{% trans_default_domain 'ZzChezZzortellBundle' %}

<section class="in_work" >
	<div class="rotation" >
		<i class="fa fa-connectdevelop fa-5x"></i>
	</div>
	<p>{{ 'in_work.title' |trans }}</p>
</section>
