{% trans_default_domain 'ZzChezZzortellBundle' %}

<section class="in_work" >
	<figure>
		<i class="fa fa-connectdevelop fa-5x"></i>
		<figcaption>{{ 'in_work.title' |trans }}</figcaption>
	</figure>
</section>