@font-face {
    font-family: 'sf_collegiate_solidregular';
    src: url('polices/SF_Collegiate_Solid-webfont.eot');
    src: url('polices/SF_Collegiate_Solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/SF_Collegiate_Solid-webfont.woff') format('woff'),
         url('polices/SF_Collegiate_Solid-webfont.ttf') format('truetype'),
         url('polices/SF_Collegiate_Solid-webfont.svg#sf_collegiate_solidregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

canvas#matrice
{
	border: gold solid 3px;
}

body
{
	background-color: black;
	color: white;	
	font-family: 'sf_collegiate_solidregular', sans-serif;
	text-align: center;
}

h1.tetris
{
	font-weight: normal;
	text-align: center;
	color: gold;
	font-size: 6em;
}

section
{
	width : 450px; /* Mettre une valeur absolue */
	height: 600px;
	margin: auto;


}

canvas, aside
{
	display: inline-block;
	vertical-align: top;
}

aside 
{
	left: 0px;
	border: solid white 2px;
	text-align: left;
	width: 177px;
	padding: 2px;
}

aside header
{
	font-size: 1.3em;
}

aside header div.separateur
{
	border-top: solid white 2px;
	height: 0px;
	padding: 0px;
	margin: 0px;
}

aside header canvas
{
	display: block;
	margin: auto;
}

aside header div.bande
{
	min-height: 20px;
	margin: 15px 0px;
	text-align: center;
	font-size: 1.2em;
	
	/*background-color: gold;
	border-radius: 45px;*/
}

aside footer
{
	border-top: solid white 2px;
}

p#pause
{
	z-index: 3;
	display: none;
	
	background-color: rgb(0,96,204);
	background-color: rgba(0,96,204,0.7);
	text-align: center;
	font-size: 1em;
	
	position: relative;
	bottom: 610px;
	left: 4px;
	
	width : 251px;
	height: 551px;
}

p#ended
{
	z-index: 2;
	display: none;
	
	background-color: rgb(240,96,204);
	background-color: rgba(240,96,204,0.7);
	text-align: center;
	font-size: 4em;
	
	position: relative;
	bottom: 658px;
	left: 4px;
	
	width : 251px;
	height: 551px;
	
}

p.best_score
{
	text-align: center;
	font-size: 2em;
	color: white;
}

input#start
{
	position: relative;
	bottom: 120px;
	left: 130px;
	
	width: 100px;
	height: 40px;
	background-color: gold;
	border: none;
}





