{% trans_default_domain 'ZzChezZzortellBundle' %}

<footer>
	<h1><a href="{{ path('zz_chez_zz_freelance') }}" >{{ 'footer.title' |trans }}</a></h1>
	{{ include ('ZzChezZzortellBundle::media.html.twig') }}
</footer>
