{% extends 'TwigBundle:Exception:error.html.twig' %}

{% trans_default_domain 'ZzChezZzortellBundle' %}

{% block sub_title %}
	<h2>
		Ressource non trouvée
	</h2>
{% endblock %}

{% block details %}
	<p>
		Désolé, la page (ou la ressource) demandée n'a pas été trouvée.
	</p>
	<p>
		Elle peut avoir été supprimée ou renommée.
	</p>
	<p>
		Il est possible que vous ayez suivi un lien mort, ou que vous ayez modifié l'URL.
        <br/>Si vous avez repéré un lien mort, merci de m'avertir à l'adresse :
        <a href="mailto:remi.blaise@gmx.fr" title="Rémi Blaise" >remi.blaise@gmx.fr</a>.
	</p>
{% endblock %}
