.generate_header () {
	@header_width: 25%;
	
	/* 1 */
	@media (min-width: @media_1) {
		position: relative;
		
		&:before
		{
			.pseudo_background(@header_width, @color_serious);
		}
		header, header + section
		{
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	header
	{
		/* Tous */
		.generate_header_style;
		
		/* 1 & 5 &- */
		@media (min-width: @media_1), (max-width: (@media_4 - 1)) {
			.generate_header_vertical_nav_style;
		}
		
		/* 1 */
		@media (min-width: @media_1) {
			.generate_header_full_screen_style;
		}
		
		/* 2 .. 4 */
		@media (max-width: (@media_1 - 1)) and (min-width: @media_4) {
			.generate_header_horizontal_nav_style;
		}
		
		/* 2 &- */
		@media (max-width: (@media_1 - 1)) {
			.generate_header_top_screen_style;
		}
		
		/* 5 &- */
		@media (max-width: (@media_4 - 1)) {
			.generate_header_little_style;
		}
	}
}

.generate_header_style () {
	.open_sans_family;
	background-color: @color_serious;
	
	h1
	{
		color: @color_serious_font;
		
		strong
		{
			font-weight: inherit;
			padding-left: 20%;
			font-size: 2.2em;
		}
	}
	
	nav ul
	{
		a
		{
			color: @color_serious_font;
			text-decoration: none;
			
			li
			{
				padding: 10px;
			}
		}
		
		&:last-of-type
		{
			a
			{
				color: @color_discreet;
			}
		}
	}
	
	.plus
	{
		> *
		{
			display: inline-block;
			vertical-align: middle;
			
			img
			{
				height:	64px;
			}
		}
		
		.lang img
		{
			position: relative;
			top: 2px;
		}
	}
}

.border_discreet ( @side ) {
	margin-@{side}: 10px;
	border-@{side}: solid @color_discreet 1px;
}

.border_li ( @side ) {
	.border ( @color ) {
		border-@{side}: solid @color;
		
		& when (@side = right) {
			border-width: 4px;
		}
		& when (@side = bottom) {
			border-width: 2px;
		}
	}
	
	&.selected
	{
		.border (@color_discreet);
	}
	
	.onfocus({
		.border (@color_serious_font);
	});
}
	
.generate_header_vertical_nav_style () {
	nav ul
	{
		a li
		{
			font-size: 2.5vw;
			
			.border_li(right);
		}
		
		&:last-of-type
		{
			.border_discreet(top);
		}
	}
	
	.plus
	{
		text-align: center;
		
		.lang
		{
			.border_discreet(right);
			padding-right: 10px;
		}
	}
}

.generate_header_horizontal_nav_style () {
	text-align: center;
	.padding_width(10px);
	
	nav, .plus
	{
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
	}
	
	nav
	{
		text-align: center;
		
		ul
		{
			display: inline-block;
			
			&:last-of-type
			{
				.border_discreet(left);
			}
			
			a li
			{
				display: inline-block;
				padding-top: 0;
				padding-bottom: 0;
				
				.border ( @color ) {
					border-bottom: solid @color 2px;
				}
				
				.border(@color_serious);
				
				&.selected
				{
					.border(@color_discreet);
				}
				
				.onfocus({
					.border(@color_serious_font);
				});
			}
		}
	}
}

.generate_header_full_screen_style () {
	width: @header_width;
	min-height: 100vh;
	
	h1
	{
		font-size: 2vw; // /!\ Compat : http://caniuse.com/#feat=viewport-units
		padding: 3%;
		padding-top: 50px;
	}
	
	nav
	{
		margin-top: 60px;
		margin-left: 2vw;
		margin-right: 4vw;
	}
	
	.plus
	{
		.padding_height(30px);
	}
}

.generate_header_top_screen_style () {
	> *
	{
		margin: auto;
	}
	
	h1
	{
		width: 450px;
	}
	
	nav ul a li
	{
		font-size: 2em;
	}
}

.generate_header_little_style () {
	.padding_height(10px);
	
	nav
	{
		width: 80%;
	}
}
