section.in_work
{
	border-style: none !important;
	background-color: @color_section;
	color: white;
	
	.rotation, p
	{
		display: inline-block;
		vertical-align: middle;
	}
	
	.rotation
	{
		padding: 5px;
		
		.keyframes(rotation, {
			100% {
				transform: rotate(360deg);
			}
		});
		.animation(rotation 2s infinite);
	}
	
	p
	{
		font-size: 1.5em;
		.open_sans_family;
	}
}
