// From https://github.com/dmitryf/elements/blob/master/elements.less
.border_radius ( @topleft, @topright, @bottomright, @bottomleft ) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.border_radius ( @radius: 0 ) {
	.border_radius (@radius, @radius, @radius, @radius);
}

.pseudo_background ( @width, @color, @side: left ) {
	content: "";
	width: @width;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-color: @color;
	@{side}: 0;
}