@import "layout.less";

body
{
	.generate_header;
	
	#notebook
	{
		> h1
		{
			font-size: 5em;
			color: @color_title;
			text-align: center;
			padding-bottom: 10px;
		}
		h2
		{
			text-align: center;
		}
		
		article
		{
			background-color: @color_section;
			.border_radius (15px);
			
			margin: 20px 5%;
			padding: 10px 30px;
			
			.note_metadata
			{
				float: right;//
				// width: 200px;
				text-align: right;
				color: @color_title;
				
				.tags
				{
					a
					{
						margin: 5px 0;
						display: inline-block;
						padding: 5px;
						background-color: @color_serious;
						.border_radius (4px);
						color: @color_discreet;
						text-decoration: none;
						text-transform: uppercase;
					}
				}
				
				.date
				{
					font-size: 0.9em;
					margin-left: 10px;
				}
			}
			
			h1
			{
				font-size: 1.8em;
				line-height: 1.2em;
				margin-bottom: 5px;
			}
			
			p
			{
				font-size: 1em;
				line-height: 1.4em;
			}
		}
		
		@media (min-width: @media_1) {
			vertical-align: top;
			width: 100% - @header_width;
			
		}
	}
}