/* PALETTE */

@header_section: 	#d25e00;
@header_title: 		white;
@header_main: 		white;
@header_discreet: 	#ffc176;

@author_section: 	#ffa639;
@author_title: 		#964300;
@author_font: 		black;

@projects:			white;
@projects_title:	@author_title;

@blue_title_button: 	#66b5cc;
@brown_title_button: 	#ca9f67;
@green_title_button: 	#7eca67;

@blue_close_button: 	#41a2bd;
@brown_close_button: 	#bd8741;
@green_close_button: 	#5ebd41;
