/* PALETTE */

@color_serious: 	#d25e00;
@color_serious_font: white;
@color_section:		#ffa639;
@color_title: 		#964300;
@color_discreet:	#ffc176;
@color_link:		#620600;
@color_warning:		#E82A17;
@color_well:		#4B9906;
