@import "polices.less";
@import "basics.less";
@import "palette.less";

/* STYLES DU CORPS */

body
{
	font-family: Verdana, Arial, sans-serif;
}

header, footer
{
	padding-left: calc( ~" 50% - 460px " );
	background-color: @header;
}

h1, h2
{
	font-family: 'tangerine';
}

section#author
{
	position: absolute;
	width: 450px;
	top: 10px;
	right: calc( ~" 45% - 450px " );
	padding: 20px;
	
	background-color: @author_section;
	border-radius: 15px;
	
	z-index: 2;
	
	h1
	{
		font-size: 5em;
	}
	
	h2
	{
		button
		{
			vertical-align: top;
		}
		
		button.author_button
		{
			margin-top: 5px;
			margin-right: 20px;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 5px;
			padding-right: 40px;
			
			font-family: 'tangerine';
			font-size: 2em;
			background-color: @author_title_button;
			border-radius: 15px;
		}
		
		button.arrow_button
		{
			padding: 0 5px;
			visibility: hidden;
			
			img
			{
				position: relative;
				
				height: 58px;
				width: 25px;
			}
		}
	}
	
	p
	{
		margin-top: 5px; 
	}
	
	#compet, #qui, #capacites
	{
		p
		{
			text-align: justify;
			text-indent: 30px;
		}
	}
	
	p strong
	{
		font-style: italic;
	}
}



header
{
	height: 160px;
	
	h1
	{
		font-size: 3.5em;
		font-weight: normal;
		
		strong
		{
			position: relative;
			bottom: 20px;
			
			padding-left: 90px;
			font-size: 2.2em;
			font-weight: bold;
			
			z-index: 1;
		}
	}
}

nav
{
	margin-top: 20px;
	
	> h1
	{
		padding-left: calc( ~" 50% - 460px " );
		
		font-size: 3.7em;
		font-weight: bold;
	}
}

.container_section
{
	margin-bottom: 15px;
	
	&:nth-child(2) { background-color: @blue_section;	li { background-color: @blue_tab; } }
	&:nth-child(3) { background-color: @brown_section;	li { background-color: @brown_tab; } }
	&:nth-child(4) { background-color: @green_section;	li { background-color: @green_tab; } }
	
	&.pair
	{
		padding-left: calc( ~" 50% - 500px " );
		margin-right: calc( ~" 50% - 0px " );
		border-radius: 0 15px 15px 0;
	}
	
	&.impair
	{
		margin-left: calc( ~" 50% - 500px " );
		padding-right: calc( ~" 50% - 0px " );
		border-radius: 15px 0 0 15px;
	}
	
	section
	{
		position: relative;
		padding: 20px 40px;
		
		h1
		{
			padding-bottom: 20px;
			
			font-size: 3em;
			font-weight: normal;
		}
		
		h2
		{
			position: absolute;
			top: 60px;
			left: 70px;
			
			font-size: 1.5em;
			font-weight: normal;
		}
		
		li
		{
			position: relative;
			margin: 10px;
			
			border-radius: 15px;
			
			.link
			{
				padding: 15px;
				margin: auto 0;
			}
			
			button.more img
			{
				position: absolute;
				right: 15px;
				top: 4px;
				top: calc( ~" 50% - 20px " );
				
				height: 40px;
				width: 20px;
			}
		}
	}
}

section.section_more
{
	border-radius: 15px;
	padding: 20px;
	
	position: absolute;
	top: 625px;
	right: calc( ~" 45% - 450px " );
	width: 450px;
	
	border-radius: 15px;
	
	z-index: 2;
	
	&.blue {
		background-color: @blue_section;
		h2 button.more_button 	{ background-color: @blue_title_button; }
		button.close 			{ background-color: @blue_close_button; }
	}
	&.brown {
		background-color: @brown_section;
		h2 button.more_button 	{ background-color: @brown_title_button; }
		button.close 			{ background-color: @brown_close_button; }
	}
	&.green {
		background-color: @green_section;
		h2 button.more_button 	{ background-color: @green_title_button; }
		button.close 			{ background-color: @green_close_button; }
	}
	
	button.close
	{
		position: absolute;
		top: 7px;
		right: 8px;
		
		font-family: 'tangerine';
		font-size: 1em;
		
		padding-top: 2px;
		padding-right: 5px;
		padding-left: 1px;
	}
	
	h1
	{
		font-size: 3em;
		
		a
		{
			text-decoration: none;
		}
	}
	
	h2
	{
		button.more_button
		{
			margin-top: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 5px;
			padding-right: 15px;
			
			font-family: 'tangerine';
			font-size: 1.8em;
			border-radius: 15px;
		}
	}
	
	p
	{
		margin-top: 5px; 
		text-align: justify;
		text-indent: 30px;
	}
	
	img#affiche
	{
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
		border-radius: 10px;
		float: left;
	}
	
	ul li
	{
		list-style-type: circle;
		margin-left: 15px;
		text-align: justify;
	}
	
	.arrow_button_container
	{
		margin-top: 10px;
		text-align: center;
		
		button img
		{
			height: 25px;
			width: 80px;
		}
	}
	
	u
	{
		font-family: 'tangerine';
		font-size: 2.3em;
		text-decoration: none;
	}
	
	strong
	{
		font-style: italic;
	}
	
	img#tetris_logo, img#hammer_logo
	{
		float: left;
		width: 117px;
		margin-top: 5px;
		margin-right: 10px;
		margin-bottom: 5px;
	}
	
	img#tetris_capture
	{
		float: right;
		width: 120px;
		margin-left: 10px;
	}
	
	figure img
	{
		width: 450px;
		margin-top: 5px;
	}
}

footer
{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	h1
	{
		font-size: 3em;
		font-weight: bold;
	}
	
	p
	{
		padding: 10px;
	}
	
	u, em
	{
		text-decoration: none;
		font-style: italic;
	}
}